@import "general";
@import "index";
@import "amigurumis";
@import "operaciones";
@import "navidad";


#importante{
    color: rgb(130, 218, 15);
    font-stretch: condensed;
}


figcaption{
    font-size: 20px;
}

.estilodeFooter{
color:white;
}

/* Index */





.losmasvendidos{
    grid-area: losmasvendidos;
    height: auto;
}


.galeriaindex{
    grid-area: galeriaindex;
    height: auto;
}

.quieresaprenderatejer{
    grid-area: quieresaprenderatejer;
    height: auto;
    justify-content: center;
    align-items: center;  
    display: block;
    margin-left: auto;
    margin-right: auto;

    }

.iframe{
    margin-left: auto;
    margin-right: auto;
}


.footerindex{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.portada{
    grid-area: portada;
    height: auto;
}

.hijoindex{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: auto;
    gap: 15px;
    justify-content: center;
    align-items: end;}

.headeramigurumis{
    grid-area: headeramigurumis;
    height: auto;
}

.descripcionamigurumis{
    grid-area: descripcionamigurumis;
    height: auto;
}

.galeriaamigurumis{
    grid-area: galeriaamigurumis;
    height: auto;
}

.footeramigurumis{
    grid-area: footeramigurumis;
    height: auto;
}

/* Amigurumis*/

.cuadriculaamigurumis{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height:2000px;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
    "headeramigurumis headeramigurumis headeramigurumis headeramigurumis"
    "descripcionamigurumis descripcionamigurumis descripcionamigurumis descripcionamigurumis"
    "galeriaamigurumis galeriaamigurumis galeriaamigurumis galeriaamigurumis"
    "footeramigurumis footeramigurumis footeramigurumis footeramigurumis "
    ;
    }

    .hijoamigurumis{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        height: auto;
        gap: 15px;
        justify-content: center;
        align-items: end;}

    a:hover{
      background-color: white;
      color:  rgb(7, 192, 192);
    
}

.estilopredeterminado{
    font-size: 25px;
    background-color: #07C0C0;
    color: white
}

$marcos:(
    1:#07C0C0,
    2: #000000,
    
    );




@each $colordemarco, $nombredecolor in $marcos {    
    .imga--#{$colordemarco}{
        border-color: $nombredecolor;
         }
          };

.descripcionamigurumis{
    @extend.estilopredeterminado 
}

@mixin style ($color, $backgroundcolor) {
    fontcolor:$color;
    background-color:$backgroundcolor;
}

.descripcionbebes{
    @include style (gray, white);
}

.tituloamigurumis {
    height: 15px;
    
    }
