*{
    padding: 0;
    margin: 0;
}


header{
    background-color: rgb(7, 192, 192);
}

img {
    max-width: 100%;
    height: auto;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 0px;
}

ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 40px;
    padding: 30px 30px 30px 30px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    background-color: rgb(7, 192, 192);
    
}

a{
    text-decoration: none;
    color:white;
    font-weight: 1000;
        
}

#introduccion {
    background-color: rgb(7, 192, 192);
    color: white;
}

body{
    font-family: 'Sora', sans-serif;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
    color:rgb(7, 192, 192);
    margin-top: 3   5px;
}

h2{
    color: rgb(7, 192, 192);
    margin-top: 20px;
    margin-bottom: 0px;
    font-size:  40px;
}



p{
    font-size: 25px;
}


#importante{
    color: rgb(130, 218, 15);
    font-stretch: condensed;
}

.portada{
    border: 1px solid #ddd;
    width: fit-content; 
  margin-left: auto;
  margin-right: auto;
    height: fit-content;
    background-color: rgb(7, 192, 192);
}

section {
    margin: 5px;
}

footer{
    margin: 200px, 0px,0px,0px;
    padding: 50px 50px 50px 50px;
    background-color: rgb(7, 192, 192);
}

figcaption{
    font-size: 20px;
}

.estilodeFooter{
color:white;
}

/* Index */

.headerindex{
    grid-area: headerindex;
    height: auto;
}

.descripcion{
    grid-area: descripcion;
    height: auto;
}


.losmasvendidos{
    grid-area: losmasvendidos;
    height: auto;
}


.galeriaindex{
    grid-area: galeriaindex;
    height: auto;
}

.quieresaprenderatejer{
    grid-area: quieresaprenderatejer;
    height: auto;
    justify-content: center;
    align-items: center;  
    display: block;
    margin-left: auto;
    margin-right: auto;

.iframe{
    margin-left: auto;
    margin-right: auto;
}


.footerindex{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.portada{
    grid-area: portada;
    height: auto;
}

.hijoindex{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: auto;
    gap: 15px;
    justify-content: center;
    align-items: end;}

.headeramigurumis{
    grid-area: headeramigurumis;
    height: auto;
}

.descripcionamigurumis{
    grid-area: descripcionamigurumis;
    height: auto;
}

.galeriaamigurumis{
    grid-area: galeriaamigurumis;
    height: auto;
}

.footeramigurumis{
    grid-area: footeramigurumis;
    height: auto;
}

/* Amigurumis*/

.cuadriculaamigurumis{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height:2000px;
    justify-content: center;
    justify-items: center;
    grid-template-areas:
    "headeramigurumis headeramigurumis headeramigurumis headeramigurumis"
    "descripcionamigurumis descripcionamigurumis descripcionamigurumis descripcionamigurumis"
    "galeriaamigurumis galeriaamigurumis galeriaamigurumis galeriaamigurumis"
    "footeramigurumis footeramigurumis footeramigurumis footeramigurumis "
    ;
    }

    .hijoamigurumis{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        height: auto;
        gap: 15px;
        justify-content: center;
        align-items: end;}

    a:hover{
      background-color: white;
      color:  rgb(7, 192, 192);
    }

