header {
  background-color: #07c0c0;
}

header ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 40px;
  padding: 30px 30px 30px 30px;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  background-color: #07c0c0;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: 1000;
}

img {
  max-width: 100%;
  height: auto;
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 0px;
}

body {
  font-family: 'Sora', sans-serif;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #07c0c0;
  margin-top: 3   5px;
}

h2 {
  color: #07c0c0;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 40px;
}

p {
  font-size: 25px;
}

footer {
  margin: 200px, 0px,0px,0px;
  padding: 50px 50px 50px 50px;
  background-color: #07c0c0;
}

.descripcion {
  grid-area: descripcion;
  height: auto;
  margin: 5px;
}

.descripcion h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #07c0c0;
  margin-top: 3   5px;
}

.descripcion p {
  background-color: #07c0c0;
  color: white;
}

#importante {
  color: #82da0f;
  font-stretch: condensed;
}

figcaption {
  font-size: 20px;
}

.estilodeFooter {
  color: white;
}

/* Index */
.losmasvendidos {
  grid-area: losmasvendidos;
  height: auto;
}

.galeriaindex {
  grid-area: galeriaindex;
  height: auto;
}

.quieresaprenderatejer {
  grid-area: quieresaprenderatejer;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iframe {
  margin-left: auto;
  margin-right: auto;
}

.footerindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.portada {
  grid-area: portada;
  height: auto;
}

.hijoindex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: auto;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.headeramigurumis {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: headeramigurumis;
  height: auto;
}

.descripcionamigurumis {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: descripcionamigurumis;
  height: auto;
}

.galeriaamigurumis {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: galeriaamigurumis;
  height: auto;
}

.footeramigurumis {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footeramigurumis;
  height: auto;
}

/* Amigurumis*/
.cuadriculaamigurumis {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 2000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
      grid-template-areas: "headeramigurumis headeramigurumis headeramigurumis headeramigurumis" "descripcionamigurumis descripcionamigurumis descripcionamigurumis descripcionamigurumis" "galeriaamigurumis galeriaamigurumis galeriaamigurumis galeriaamigurumis" "footeramigurumis footeramigurumis footeramigurumis footeramigurumis ";
}

.hijoamigurumis {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  height: auto;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

a:hover {
  background-color: white;
  color: #07c0c0;
}

.estilopredeterminado, .descripcionamigurumis {
  font-size: 25px;
  background-color: #07C0C0;
  color: white;
}

.imga--1 {
  border-color: #07C0C0;
}

.imga--2 {
  border-color: #000000;
}

.descripcionbebes {
  fontcolor: gray;
  background-color: white;
}

.tituloamigurumis {
  height: 15px;
}
/*# sourceMappingURL=style.css.map */